body {
    font-family: "Roboto", "helvetica";
    font-size: 0.8em;
    line-height: 1;
}
#name {
    font-size: 1.3em;
    font-weight: 900;
}

#contact-info {
    padding: 0, 80px, 0, 0;
    text-align: left;
    line-height: 0.3;
    font-weight: 100;
}

.section-label {
    background: #214954;
    color: white;
    font-size: 1.4em;
    text-align: center;
    display: block;
    margin-right: 70%;
    height: 28px;
}

#career-objective {
    float: left;
    width: 55%;
}

#professional-experience {
    float: left;
    width: 55%;
}

#key-skills {
    float: right;
    width: 45%;
}

#education {
    float: right;
    width: 45%;
}
