body {
    font-family: "Roboto", "helvetica";
    font-size: 0.8em;
    line-height: 2;
}
#name {
    font-size: 1.3em;
    font-weight: 900;
}

#contact-info {
    padding: 0, 80px, 0, 0;
    text-align: left;
    line-height: 0.3;
    font-weight: 100;
}

.section-label {
    background: #214954;
    color: white;
    font-size: 0.9em;
    display: block;
    margin-right: 70%;
}

#career-objective {
    float: left;
    width: 60%;
}

#professional-experience {
    float: left;
    width: 60%;
}

#key-skills {
    float: right;
    width: 40%;
}

#education {
    float: right;
    width: 40%;
}
